.details {
    margin: auto;
    max-width: 800px;
    padding: 10px 0;
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.5s ease;


    .summary {
        cursor: pointer;
        font-weight: 1000;
        color: #14506a;
        font-size: 1.2rem;

        i {
            content: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='5 5 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18M12 6V18' stroke='%2314506a' stroke-width='2' stroke-linecap='round' %3E%3C/path%3E%3C/svg%3E");
            position: relative;
            top: 3px;
            margin-right: 1rem;
        }
    }

    .content {
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in;
    }

    &:has(.open){
        grid-template-rows: auto 1fr;

        .summary i {
            content: url("data:image/svg+xml,%3Csvg width='1rem' height='1rem' viewBox='5 5 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12H18' stroke='%2314506a' stroke-width='2' stroke-linecap='round' %3E%3C/path%3E%3C/svg%3E");
        }

        .content {
            opacity: 1;
        }
    }
}