.top-conatiner {
    width: 100%;
    background-size: 100% auto;
    text-align: center;
    padding-bottom: 30px;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &>div {
        padding: 40px 0px 80px;

        #title {
            padding: 40px;
            max-width: 1100px;
            margin: auto;

            .h3-spred {
                font-size: 1rem;
                letter-spacing: 1rem;
                font-weight: bold;
            }

        }

        .base {
            margin-top: 80px;
        }

    }

    h1 {
        font-size: 4rem;
        margin: 0;

    }

    h3 {
        font-size: 2rem;
        margin: 0;
        font-weight: lighter;
    }

    .top {
        color: var(--color-primary);
    }

    #h-top {
        padding-bottom: 0;
    }

}