#attr-obj {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: max(5%, 30px);

    .about-cols {
        min-width: 300px;
        flex: 1 1 500px;
        display: flex;
        flex-direction: column;
        vertical-align: top;

        h4 {
            font-size: 1.5rem;
            margin: 0 0 20px;
        }

        span {
            width: 100%;

            &.attributes {
                padding: 15px 0 5px;
                border-bottom: 2px solid var(--footer-copyright-dev);

                &::before {
                    content: url("data:image/svg+xml,%3Csvg height='1rem' width='1rem' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' fill='%236ec1e4'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
                    padding-right: 5px;
                    vertical-align: middle;
                }
            }
        }
    }
}

#about-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: white;

    .card-container {
        position: relative;
        max-width: 400px;
        min-width: 250px;
        flex: 1 1 auto;
        height: 200px;
        perspective: 800px;

        .card {
            position: absolute;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transition: transform 0.8s cubic-bezier(0.8, 1.8, 0.6, 0.7);

            .card-front {
                position: absolute;
                width: 100%;
                height: 100%;
                align-content: center;
                text-align: center;
                backface-visibility: hidden;
                background-color: var(--about-card);
                border-radius: 10px;
                font-size: 1.5rem;
            }

            .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                align-content: center;
                text-align: center;
                backface-visibility: hidden;
                background-color: var(--about-card-hover);
                transform: rotateY(180deg);
                border-radius: 10px;
                padding: 40px;
            }

        }

        &:hover .card {
            transform: rotateY(180deg);
        }

    }


}

#clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    img {
        width: 100px;
        height: auto;
    }
}

#pillars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    row-gap: 10px;

    div {
        text-align: center;

        img {
            width: 250px;
            height: auto;
        }

        h4 {
            font-size: 1.5rem;
            margin: 10px 0;
        }

        span {
            color: var(--color-text-gray);
        }
    }
}