#h-about>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    .ha-cols {
        max-width: 400px;
        flex: 1 1 auto;
    }

    img {
        width: 100%;
    }
}

.prod-img {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    img {
        width: 45%;
        height: auto;
        max-width: 300px;
    }
}