div#progressbar {
    height: 5px;
    width: 100%;
    background-color: var(--color-primary);
    position: fixed;
    z-index: 5;
    scale: 0 1;
    transform-origin: left;
    animation: scaleProgress auto linear;
    animation-timeline: scroll();
}

@keyframes scaleProgress {
    75% {
        background-color: var(--color-accent);
    }

    100% {
        scale: 1 1;
        background-color: var(--color-accent);
    }
}

nav#head {
    height: 70px;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;

    #logo>a>img {
        height: 100%;
    }

    #nav-bar {
        width: 800px;
        flex-shrink: 1;
    }

    #nav-links {
        z-index: 10;
        height: 100%;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        .items {
            display: block;

            .links {
                color: var(--color-primary);
                padding: 5px;
                font-size: 1rem;

                &.active {
                    background-color: var(--color-primary-light);
                    color: white;
                }

                &:has(.active) {
                    background-color: var(--color-primary-light);
                    color: white;

                    & #arrow {
                        fill: white;
                    }
                }

                &:hover {
                    background-color: var(--color-accent-light);
                    cursor: pointer;
                }
            }
        }
    }

    #menu-icon {
        display: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #000000b4;
        border-radius: 5px;
        align-content: center;
        text-align: center;

        & svg {
            width: 24px;
            height: 24px;
        }
    }
}

#services {
    position: relative;

    & #arrow {
        width: auto;
        margin-left: 5px;
        height: 0.8rem;
        fill: var(--color-primary);
        transform: rotate(-90deg);
        transition: transform 0.5s cubic-bezier(0.8, 2.5, 0.75, 0.3);
    }

    & ul {
        z-index: 2;
        background-color: darkslategray;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 0;
        transform: scale(0);
        transform-origin: top;
        transition: all .3s ease;

        & a {
            & li {
                transform: scale(0);
                text-align: center;
                padding: 0;
                transition: background-color 0.5s ease-out;

                color: white;
            }
        }
    }

    &:hover {
        & #arrow {
            fill: white;
            transform: rotate(-180deg);
        }

        & ul {
            transform: scale(1);

            & li.sub-items {
                transform: scale(1);
                margin: 0.5rem;
                padding: 10px 20px;

                &:hover {
                    background-color: var(--color-accent);
                }
            }
        }
    }
}