@media screen and (min-width: 1800px) {
    .top-conatiner {
        background-attachment: scroll;
    }

    #footer-info {
        gap: 5%;
    }
}

@media screen and (max-width: 1024px) {
    #footer-info {
        grid-template-columns: 350px auto;
        grid-template-areas: 'farea-1 farea-3' 'farea-4 farea-2';
        gap: 0;
        font-size: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .top-conatiner {
        height: auto;

        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.3rem;
        }
    }

    nav#head>#nav-bar {
        width: max-content;

        #nav-links {
            display: block;
            width: 250px;
            height: 100vh;
            flex-direction: column;
            row-gap: 30px;
            position: fixed;
            right: -250px;
            top: 0;
            font-size: 1.5rem;
            background-color: var(--nav-mobile-bg);
            padding: 20px;
            overflow: hidden;
            transition: width 0.5s ease;

            .items {
                padding: 10px;
                width: max-content;

                .links {
                    color: white;
                }

                #arrow {
                    fill: white;
                }
            }

            #services {
                position: relative;
                height: 2.4rem;
                overflow: hidden;
                transition: height 0.5s;
                transition-delay: 0s;

                ul {
                    background-color: var(--nav-mobile-bg);
                    transform: scaleY(0);
                    position: relative;

                    li.sub-items {
                        transform: scaleY(0);
                        margin: 0;
                    }
                }

                &:hover {
                    height: 16rem;
                    transition-delay: 0.5s;

                    ul {
                        transform: scaleY(1);

                        li.sub-items {
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }

        #menu-icon {
            display: block;
            transition: opacity 0.2s 0.3s;
        }

        &:hover {
            #nav-links {
                width: 500px;
            }

            #menu-icon {
                opacity: 0;
                transition-delay: 0s;
            }
        }
    }
}

@media screen and (max-width: 512px) {
    .top-conatiner {
        background-attachment: scroll;
    }

    .body-conatiner {
        padding: 20px 10px;
    }

    #about-card .card-container {
        min-width: 200px !important;
    }

    .about-cols {
        min-width: 0 !important;
    }

    #clients>img {
        width: 50px;
    }

    #prduct-body .products {
        padding: 20px 0 !important;
        gap: 10px !important;
    }

    #footeinfo-area-4 {
        width: 250px;
    }

    #footer-info {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'farea-1 farea-1' 'farea-2 farea-3' 'farea-4 farea-4';

        &>div {
            padding: 0;
        }
    }

    #dev-copyright {
        font-size: 1rem;
    }
}